@mixin animazione($durata, $start, $end, $delay, $nome) {
  animation: $nome $durata linear $delay;
  @keyframes #{$nome} {
    0% {
      top: $start;
      opacity: 0;
    }
    100% {
      top: $end;
      opacity: 100%;
    }
  }
}
