@mixin animazione($durata, $start, $end, $delay, $nome) {
  animation: $nome $durata linear $delay forwards;

  @keyframes #{$nome} {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 100%;
    }
  }
}
