@mixin floating($radius: 20px, $shadow: 5px 5px 10px 10px black, $border: 2px solid black) {
  border-radius: $radius;
  box-shadow: $shadow;
  border: $border;
}

@mixin grid($nCols, $viewport: 100%) {
  width: calc($viewport / $nCols);
}
